<h1>My tasks </h1>
<ul>
<% @tasks.each do |task| %>
  <li> <%= task.completed ? '[X]' : '[  ]'%>
    <strong><%= link_to task.title, task_path(task) %></strong> -
    <em>Details: <%= task.details %></em></li>
<% end %>
</ul>
<h2>What do you want to do?</h2>
<h3><%= link_to 'Add a task', tasks_new_path %></h2>
