<h1>All tasks: </h1>
<ul>
<% @tasks.each do |task| %>
  <li> <%= task.completed ? '[X]' : '[  ]'%> <strong><%= task.title.capitalize %></strong> -
    <em>Details: <%= task.details.capitalize %></em></li>
<% end %>
</ul>
